<ion-modal-view>
  <ion-header-bar>
    <h1 class="title center">Thanks!</h1>
    <div class="buttons">
      <a class="button button-icon icon ion-close" ng-click="closeModal()"></a>
    </div>
  </ion-header-bar>
  <ion-content class="sscf-login">
    <div class="card">
      <div class="item item-text-wrap center item-borderless">
        Thanks for logging your hours!
      </div>
      <div class="item item-text-wrap center item-borderless">
        You can see your earned credits in your profile.
      </div>
    </div>
  </ion-content>
</ion-modal-view>
