<ion-view view-title="{{ProjectCtrl.project.name}}" class="sscf-projects">
  <ion-content>
    <div class="card">
      <label class="item item-text-wrap" ng-bind="ProjectCtrl.project.description">
      </label>
    </div>
    <div class="list">
      <label class="item item-borderless center"><b>Contact Us:</b></label>
      <label class="item item-borderless center">{{ProjectCtrl.project.address}}</label>
      <label class="item item-borderless center">{{ProjectCtrl.project.phone}}</label>
    </div>
    <label class="item">
      <button class="button button-block submit" type="submit">
        See Opportunities
      </button>
    </label>
  </ion-content>
</ion-view>
