<ion-view view-title="{{ProfileCtrl.user.username}}" class="sscf-user">
  <ion-content>
    <div class="card">
      <label class="item item-text-wrap center">
        [Picture Goes Here]
      </label>
      <label class="item item-text-wrap center">
        {{ProfileCtrl.user.description}}
      </label>
    </div>
    <label class="item item-borderless center subheader"><b>My Events</b></label>
    <div class="item item-borderless center item-text-wrap" ng-repeat="event in ProfileCtrl.user.events">
      <a ng-click="ProfileCtrl.goToEvent(event)">{{event.name}}</a>
    </div>
  </ion-content>
</ion-view>

