<ion-view title="eventsignup" id="page9">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Birthday</span>
                <input type="date" placeholder="">
            </label>
            <div class="spacer" style="width: 748px; height: 35px;"></div>
            <ion-radio name="status">First Time Volunteer</ion-radio>
            <ion-radio name="status">Returning Volunteer</ion-radio>
        </form>
        <a ui-sref="menu.modifyEvent" id="eventsignup-button14" class="button button-positive button-large button-block">Sign-In</a>
    </ion-content>
</ion-view>