<ion-view title="Manage Credits" id="page12">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Choose Sort</ion-item>
            <ion-radio name="sort">Sort by Event</ion-radio>
            <ion-radio name="sort">Sort By Volunteer</ion-radio>
            <ion-radio name="sort">Sort By Expiring Soon</ion-radio>
            <ion-item class="item-divider">Credits</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>