<ion-view title="Modify Event" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 id="modifyEvent-heading1" style="color:#000000;">{{event.name}}</h1>
        <div class="list card">
            <div class="item item-divider">Overview</div>
            <div class="item item-body">
                <div id="modifyEvent-markdown2" style="color:#000000;">
                    <p>{{event.description}}</p>
                </div>
            </div>
        </div>
        <form class="list"></form>
        <div class="list card">
            <div class="item item-divider">Details</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">When</span>
                        <input type="text" placeholder="" value="{{event.when}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Where</span>
                        <input type="text" placeholder="" value="{{event.where}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Min. Number Volunteers</span>
                        <input type="number" placeholder="" value="{{event.numberNeeded}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Minimum Age (Years)</span>
                        <input type="number" placeholder="" value="{{event.minAge}}">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Duration (Hours)</span>
                        <input type="number" placeholder="" value="{{event.duration}}">
                    </label>
                    <ion-checkbox ng-model="event.isFamilyFriendly">Family Friendly</ion-checkbox>
                    <label class="item item-input">
                        <span class="input-label">Additional Notes</span>
                        <input type="text" placeholder="" value="{{event.notes}}">
                    </label>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Volunteers</div>
            <div class="item item-body">
                <div class="button-bar">
                    <a ui-sref="menu.eventSignIn" id="modifyEvent-button11" style="color:#000000;" class="button button-light  button-block button-outline">Signin</a>
                    <a ui-sref="menu.eventsignup" id="modifyEvent-button13" style="color:#000000;" class="button button-light  button-block button-outline">New</a>
                </div>
                <ion-list>
                    <ion-item ng-repeat="volunteer in event.volunteers">{{volunteer.name}}</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="button-bar">
            <a href="mailto:" id="modifyEvent-button8" class="button button-dark  button-block">Email</a>
            <a href="tel:" id="modifyEvent-button9" class="button button-positive  button-block">SMS</a>
            <button id="modifyEvent-button10" class="button button-calm  button-block">Push Notification</button>
        </div>
    </ion-content>
</ion-view>