<ion-view title="My Events" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div></div>
        <div class="button-bar">
            <button id="myEvents-button15" style="color:#000000;" class="button button-light  button-block button-clear">Total Events: 3</button>
            <button id="myEvents-button16" style="color:#000000;" class="button button-light  button-block button-clear">Total Volunteers: 13</button>
            <button id="myEvents-button17" style="color:#000000;" class="button button-light  button-block button-clear">Total Credits: 5233</button>
        </div>
        <ion-list>
            <ion-item class="item-divider"></ion-item>
            <ion-toggle toggle-class="toggle-dark" ng-checked="true">Hide Completed Events</ion-toggle>
        </ion-list>
        <div class="button-bar"></div>
        <ion-list>
            <ion-item class="item-divider">Events</ion-item>
            <ion-item ui-sref="menu.modifyEvent({eventId: $index})" ng-repeat="event in events">{{event.eventName}}</ion-item>
        </ion-list>
        <a ui-sref="menu.modifyEvent" id="myEvents-button7" class="button button-balanced  button-block">Add New Event</a>
    </ion-content>
</ion-view>