<ion-view title="My Volunteers" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Active</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.volunteerDetail">
                <img src="img/OD5RNIttRWCXk7XJl2Go_bruce_pic.jpg">
                <h2>Bruce Gay</h2>
                <p>Last Volunteered: 3/22/2016</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.volunteerDetail">
                <img src="img/Mc82QS7HS5CF8aNlis64_steve_pic.jpg">
                <h2>Steve Sloka</h2>
                <p>Last Volunteered: 3/1/2016</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.volunteerDetail">
                <img src="img/BT4eoTvCRO6fp9TCtYn2_susanna_pic.jpg">
                <h2>Susanna Zlotnikov</h2>
                <p>Last Volunteered: 12/03/2014</p>
            </ion-item>
            <ion-item class="item-divider">Inactive</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.volunteerDetail">
                <img src="img/HHb72fiSsOsZQXcQdxgb_fce.png">
                <h2>Zach Piekut</h2>
                <p>Last Volunteered: 01/31/2008</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.volunteerDetail">
                <img src="img/3hm1WzUXRoidHaQHYKdw_mike_pic.jpeg">
                <h2>Mike Levin</h2>
                <p>No Volunteer Record</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>User1</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>User2</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>User3</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>User4</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>User5</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>User6</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>